@charset "UTF-8";
* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background-color: #EFEFEF; }

header {
  display: flex;
  justify-content: center;
  background-color: #000000DD;
  border-bottom: 1px solid #A45D5D; }

@font-face {
  font-family: PirateOne;
  src: url("../assets/fonts/PirataOne-Regular.ttf"); }

.titulo {
  color: #DAA520;
  font-size: 86px;
  padding: 50px;
  font-family: PirateOne;
  text-align: center;
  text-shadow: 3px 3px 10px #A45D5D; }

.logo {
  display: none; }

.subtitulo {
  background-color: #B8860B;
  border-radius: 10px;
  color: #000000;
  display: inline-block;
  font-family: PirateOne;
  font-size: 48px;
  padding: 0px 10px;
  text-shadow: 3px 3px 10px #A45D5D; }

.navdiv {
  background-color: #000000DD;
  position: sticky;
  top: 0px;
  width: 100%; }
  .navdiv nav div ul {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%; }
    .navdiv nav div ul a {
      color: #DAA520;
      display: inline-block;
      font-family: PirateOne;
      font-size: 32px;
      padding: 0px 40px; }
      .navdiv nav div ul a:hover {
        color: #FFD700;
        text-shadow: 3px 3px 10px #A45D5D; }

.activo {
  color: #FFD700 !important;
  text-shadow: 3px 3px 10px #A45D5D; }

.fondoHotel {
  background-color: #A45D5D;
  background-image: url("../assets/img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #A45D5D;
  height: 45vw; }

.main_section {
  min-height: 85vh; }

.hero-text {
  text-align: center;
  padding: 50px; }

.grid-container {
  display: grid;
  grid-template-columns: 45vw 45vw;
  justify-content: center; }

.grid-item, .grid-item--frente, .grid-item--restaurant, .grid-item--estacionamiento, .grid-item--sala {
  align-items: end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 460px;
  justify-content: space-evenly;
  margin: 20px; }
  .grid-item p, .grid-item--frente p, .grid-item--restaurant p, .grid-item--estacionamiento p, .grid-item--sala p {
    background-image: linear-gradient(#00000055, #00000055);
    border-radius: 5px;
    color: #EFEFEF;
    font-size: 20px;
    line-height: 1.5;
    padding: 10px;
    text-align: justify;
    text-shadow: #000000 2px 2px; }
    .grid-item p:hover, .grid-item--frente p:hover, .grid-item--restaurant p:hover, .grid-item--estacionamiento p:hover, .grid-item--sala p:hover {
      animation-name: higlight;
      animation-duration: 1s; }

@keyframes higlight {
  10% {
    background-color: #FAFAD2; }
  100% {
    background-color: none; } }

.grid-item--frente {
  background-image: linear-gradient(#00000055, #00000055), url("../assets/img/frente.jpg"); }

.grid-item--restaurant {
  background-image: linear-gradient(#00000055, #00000055), url("../assets/img/restaurant.jpg"); }

.grid-item--estacionamiento {
  background-image: linear-gradient(#00000055, #00000055), url("../assets/img/estacionamiento.jpg"); }

.grid-item--sala {
  background-image: linear-gradient(#00000055, #00000055), url("../assets/img/sala.jpg"); }

.containerMapa {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; }

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }

.btn-form {
  background-color: #DAA520;
  color: #000000;
  font-size: 20px;
  font-weight: bold; }
  .btn-form:hover {
    background-color: #EEE8AA; }

footer {
  align-items: center;
  background-color: #000000DD;
  border-top: 1px solid #A45D5D;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  footer p {
    color: #EFEFEF; }
  footer li {
    list-style-type: none;
    display: inline-block;
    padding: 10px; }
    footer li img {
      filter: invert(1); }

/*map de tamaños*/
/*vista tablet*/
@media only screen and (min-width: 768px) and (max-width: 930px) {
  .titulo {
    font-size: 64px;
    padding: 20px; }
  .subtitulo {
    font-size: 36px;
    padding: 0px 10px; }
  .grid-item p, .grid-item--frente p, .grid-item--restaurant p, .grid-item--estacionamiento p, .grid-item--sala p {
    font-size: 18px;
    line-height: 1.4; }
  .navdiv nav div ul a {
    color: #DAA520;
    display: inline-block;
    font-family: PirateOne;
    font-size: 28px;
    padding: 10px 20px; } }

/*vista mobil*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
  header {
    border-bottom: 0px; }
  .titulo {
    display: none; }
  .navdiv nav div ul a {
    font-size: 22px; }
  .navbar {
    padding: 0px 10px; }
  .logo {
    border: 3px solid #EFEFEF;
    color: #EFEFEF;
    display: inline-block;
    height: 70px;
    width: 60px;
    margin: 55px 0px 5px 0px;
    padding: 3px;
    border-radius: 0px 0px 100px 100px; }
  .logo img {
    filter: invert(1);
    height: 55px;
    width: 60px;
    position: absolute;
    top: 0px;
    left: 10px; }
  .logo div {
    font-family: serif;
    font-size: 40px;
    font-weight: bolder;
    line-height: 30px;
    margin: 0px; }
  .V {
    text-align: right; }
  .fondoHotel {
    background-image: url("../assets/img/bg.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #A45D5D;
    height: 120vw; }
  .grid-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    grid-template-columns: auto;
    justify-content: flex-start; }
  .subtitulo {
    font-size: 36px; }
  .grid-item, .grid-item--frente, .grid-item--restaurant, .grid-item--estacionamiento, .grid-item--sala {
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    flex-direction: column;
    margin: 5px;
    padding: 5px; }
  .grid-item p, .grid-item--frente p, .grid-item--restaurant p, .grid-item--estacionamiento p, .grid-item--sala p {
    font-size: 18px;
    line-height: 1;
    text-align: left; }
  .grid-item--frente {
    width: 90vw; }
  .grid-item--restaurant {
    width: 90vw; }
  .grid-item--estacionamiento {
    width: 90vw; }
  .grid-item--sala {
    width: 90vw; }
  footer ul {
    margin: 0px;
    padding: 0px;
    width: 100%; } }
