@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background-color: #EFEFEF; }

header {
  display: flex;
  justify-content: center;
  background-color: #000000DD;
  border-bottom: 1px solid #A45D5D; }

@font-face {
  font-family: PirateOne;
  src: url("../assets/fonts/PirataOne-Regular.ttf"); }

.titulo {
  color: #DAA520;
  font-size: 86px;
  padding: 50px;
  font-family: PirateOne;
  text-align: center;
  text-shadow: 3px 3px 10px #A45D5D; }

.logo {
  display: none; }

.subtitulo {
  background-color: #B8860B;
  color: #000000;
  font-family: PirateOne;
  font-size: 64px;
  margin: 0;
  padding: 40px 0;
  text-align: center;
  text-shadow: 3px 3px 10px #A45D5D; }

.navdiv {
  background-color: #000000DD;
  position: sticky;
  top: 0;
  width: 100%; }
  .navdiv nav div ul {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%; }
    .navdiv nav div ul a {
      color: #DAA520;
      display: inline-block;
      font-family: PirateOne;
      font-size: 32px;
      padding: 0 40px; }
      .navdiv nav div ul a:hover {
        color: #FFD700;
        text-shadow: 3px 3px 10px #A45D5D; }

.activo {
  color: #FFD700 !important;
  text-shadow: 3px 3px 10px #A45D5D; }

.fondoHotel {
  background-color: #A45D5D;
  background-image: url("../assets/img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #A45D5D;
  height: 45vw; }

.main_section {
  min-height: 85vh; }

.hero-text {
  text-align: center;
  padding: 50px; }

.hero-text {
  text-align: center;
  padding: 50px; }

article div {
  margin-bottom: 10px; }

.grid-row {
  display: flex;
  flex-direction: row; }

p.grid-item, p.grid-item--frente, p.grid-item--restaurant, p.grid-item--estacionamiento, p.grid-item--sala, p.grid-item--cuarto, p.grid-item--bar {
  background-image: linear-gradient(#00000055, #00000055);
  color: #EFEFEF;
  font-size: 20px;
  line-height: 1.5;
  padding: 50px;
  text-align: justify;
  text-shadow: #000000 2px 2px; }

.rowreverse {
  flex-direction: row-reverse; }

.grid-item, .grid-item--frente, .grid-item--restaurant, .grid-item--estacionamiento, .grid-item--sala, .grid-item--cuarto, .grid-item--bar {
  height: 460px;
  width: 50vw; }

.container-fluid {
  display: flex;
  flex-direction: column; }
  .container-fluid .grid-item, .container-fluid .grid-item--frente, .container-fluid .grid-item--restaurant, .container-fluid .grid-item--estacionamiento, .container-fluid .grid-item--sala, .container-fluid .grid-item--cuarto, .container-fluid .grid-item--bar {
    height: auto;
    margin: 10px 0;
    width: 100%; }
  .container-fluid .subtitulo {
    padding: 10px; }

@keyframes higlight {
  10% {
    background-color: #FAFAD2; }
  100% {
    background-color: none; } }

.grid-item--frente {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(#00000055, #00000055), url("../assets/img/frente.jpg"); }

.grid-item--restaurant {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(#00000055, #00000055), url("../assets/img/restaurant.jpg"); }

.grid-item--estacionamiento {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(#00000055, #00000055), url("../assets/img/estacionamiento.jpg"); }

.grid-item--sala {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(#00000055, #00000055), url("../assets/img/sala.jpg"); }

.grid-item--cuarto {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(#00000055, #00000055), url("../assets/img/cuarto.jpg"); }

.grid-item--bar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(#00000055, #00000055), url("../assets/img/bar.jpg"); }

.containerMapa {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; }

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }

.btn-form {
  background-color: #DAA520;
  color: #000000;
  font-size: 20px;
  font-weight: bold; }
  .btn-form:hover {
    background-color: #EEE8AA; }

footer {
  align-items: center;
  background-color: #000000DD;
  border-top: 1px solid #A45D5D;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  footer p {
    color: #EFEFEF; }
  footer li {
    list-style-type: none;
    display: inline-block;
    padding: 10px; }
    footer li img {
      filter: invert(1); }

/*map de tamaños*/
/*vista tablet*/
@media only screen and (min-width: 768px) and (max-width: 930px) {
  .titulo {
    font-size: 64px;
    padding: 20px; }
  .subtitulo {
    font-size: 36px;
    padding: 20px 0; }
  p.grid-item, p.grid-item--frente, p.grid-item--restaurant, p.grid-item--estacionamiento, p.grid-item--sala, p.grid-item--cuarto, p.grid-item--bar {
    font-size: 18px;
    line-height: 1.4; }
  .navdiv nav div ul a {
    color: #DAA520;
    display: inline-block;
    font-family: PirateOne;
    font-size: 28px;
    padding: 10px 20px; } }

/*vista mobil*/
@media only screen and (min-width: 0) and (max-width: 767px) {
  header {
    border-bottom: 0; }
  .titulo {
    display: none; }
  .navdiv nav div ul a {
    font-size: 22px; }
  .navbar {
    padding: 0 10px; }
  .logo {
    border: 3px solid #EFEFEF;
    color: #EFEFEF;
    display: inline-block;
    height: 70px;
    width: 60px;
    margin: 55px 0 5px;
    padding: 3px;
    border-radius: 0 0 100px 100px; }
  .logo img {
    filter: invert(1);
    height: 55px;
    width: 60px;
    position: absolute;
    top: 0;
    left: 10px; }
  .logo div {
    font-family: serif;
    font-size: 40px;
    font-weight: bolder;
    line-height: 30px;
    margin: 0; }
  .V {
    text-align: right; }
  .fondoHotel {
    background-image: url("../assets/img/bg.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #A45D5D;
    height: 120vw; }
  .subtitulo {
    font-size: 36px; }
  .rowreverse {
    flex-direction: column; }
  .grid-row {
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column; }
  .grid-item, .grid-item--frente, .grid-item--restaurant, .grid-item--estacionamiento, .grid-item--sala, .grid-item--cuarto, .grid-item--bar {
    width: 100vw; }
  p.grid-item, p.grid-item--frente, p.grid-item--restaurant, p.grid-item--estacionamiento, p.grid-item--sala, p.grid-item--cuarto, p.grid-item--bar {
    font-size: 18px;
    height: 250px;
    line-height: 1;
    margin-bottom: 0; }
  footer ul {
    margin: 0;
    padding: 0;
    width: 100%; } }
