$black: #000000; // black
$red: #A45D5D;
$gold: #FFD700; // Gold
$goldrod: #DAA520; // GoldenRod
$darkgoldrod: #B8860B; // DarkGoldenRod
$lightgoldrodyellow: #FAFAD2; // LightGoldenRodYellow
$palegoldrod: #EEE8AA; // PaleGoldenRod
$white: #EFEFEF; //
